<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/styles.css}" href="/css/styles.css"  rel="stylesheet" type="text/css"  />
        <script th:href="@{//code.jquery.com/jquery-1.12.0.min.js}" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <script th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row" style="margin-top : 10px">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <form action="#" th:action="@{/}" th:object="${userForm}" method="post">
                        <!--
                        <div th:if="${#fields.hasErrors('all')}" th:errors="*{all}" th:errorclass="fieldError"></div>
                        -->
                        <div class="form-group"   th:class="${#fields.hasErrors('name')}? has-error" >
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="name"/>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError">Name Error</span>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('age')}? has-error">
                            <label for="age">Password</label>
                            <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="age"/>
                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="fieldError">Age Error</span>
                        </div>
                        <button style="margin-top:10px" class="btn btn-default" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>